/* 
---------------------------------------------
About Us Style
--------------------------------------------- 
*/

.aboutus {
    background-image: url(../../images/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px 120px 0px;
    position: relative;
  }
  
  .aboutus .author {
    display: flex;
  }
  
  .aboutus .author h4 {
    margin-top: 60px;
    font-size: 20px;
    margin-left: 30px;
  }
  
  .aboutus .author h4 a {
    font-size: 15px;
    color: rgb(0, 90, 150);
  }
  
  .aboutus .right-info {
    background-color: #282b2f;
    border: 1px solid #404245;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 100px;
  }
  
  .aboutus .right-info .info-item {
    margin-bottom: 20px;
  }
  
  .aboutus .right-info i {
    color: rgb(0, 90, 150);
    font-size: 22px;
  }
  
  .aboutus .right-info h6 {
    font-size: 20px;
    color: rgb(0, 90, 150);
    margin-top: 4px;
  }
  
  .aboutus .right-info h6 em {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
  }
  
  .aboutus .right-info h5 {
    font-size: 20px;
    color: #afafaf;
    margin-top: 10px;
  }
  
  .aboutus .right-info .main-button a {
    width: 100%;
    text-align: center;
  }
  
  .aboutus .section-heading {
    margin-top: 80px;
    text-align: left;
  }
  
  .aboutus .section-heading .line-dec {
    margin-left: 0;
  }
  
  .aboutus .item span.author {
    display: inline-flex;
    width: 100%;
  }
  
  .aboutus .item span.author img {
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  
  .aboutus .item img {
    margin-top: -32px;
    position: relative;
    z-index: 1;
  }
  
  .aboutus .item h4 {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }
  
  .aboutus .item .line-dec {
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
    margin: 30px 0px;
  }
  
  .aboutus .item {
    background-color: #282b2f;
    border: 1px solid #404245;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 52px;
  }
  
  .aboutus .item span {
    color: #fff;
    display: inline-block;
    font-size: 15px;
  }
  
  .aboutus .item span strong {
    font-size: 20px;
  }
  
  .aboutus .item span.category {
    text-align: right;
  }
  
  .aboutus .item .main-button {
    margin-top: 20px;
    margin-bottom: -60px;
    text-align: center;
  }