
/* 
---------------------------------------------
Ranking Style
--------------------------------------------- 
*/

  .top-seller {
    background-image: url(../../images/umbreon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px 90px 0px;
    position: relative;
  }
  
  .top-seller .section-heading .line-dec {
    background-color: #fff;
  }
  
  .top-seller .item {
    display: flex;
    margin-bottom: 30px;
  }
  
  .top-seller .item img {
    margin-right: 15px;
  }
  
  .top-seller .item h4 {
    font-size: 20px;
    margin-top: 12px;
    margin-right: 10px;
  }
  
  .top-seller .item h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }
  
  .top-seller .item a {
    font-size: 14px;
    cursor: auto;
    color: #fff;
    font-weight: 400;
    margin-top: 5px;
  }
  